anyio
beautifulsoup4
certifi
filetype
h11
httpcore
httpx
idna
Js2Py_3.13
lxml
m3u8
numpy
pandas
pyjsparser
pyotp
python-dateutil
python-dotenv
pytz
six
sniffio
socksio
soupsieve
twikit
typing_extensions
tzdata
tzlocal
webvtt-py